module.exports = {
  root: true,
  env: {
    browser: true,
    node: true,
  },
  extends: [
    '@nuxtjs/eslint-config',
    'plugin:nuxt/recommended',
    'airbnb-base',
    'plugin:prettier/recommended'
  ],
  plugins: [
    'prettier',
  ],
  // 필요에 따라 ESLint 규칙 추가/수정
  rules: {
    'no-param-reassign': 0, 
    'import/no-unresolved': 0, 
    'import/extensions': 0,
    'no-shadow': ['error', { 'allow': ['state'] }],
    'vue/no-multiple-template-root': 'off'
  }
};